/* 
    Document   : logo
    Created on : 15 avr. 2013, 12:46:01
    Author     : cadegenn
    Description:
        logo's stylesheet
*/

@font-face {
	font-family:aardvark;
	src:url(../fonts/aardc___.ttf);
}

#logo {
	float:left;
	/*width: 74%;*/
}

#logo > a {
	float: left;
	margin: 2px;
}
#logo > a > img {
	vertical-align: middle;
	height: 16px;
}
#logo a:hover {
	text-decoration: none ! important;
}

#logo > div.textArea {
	float: left;
	margin: 2px;
}
#logo span.logoText {
	font-family: aardvark ! important;
	/*font-size: 48px;*/
}
#logo span.logoText a, #logo span.logoText a:hover, #logo span.logoText a:visited {
	color: #91979c ! important;;
	text-shadow: 1px 1px 1px #f7f6f4 ! important;;
}

#logo span.sloganText {
	display: none;
}